<ion-header>
  <ion-toolbar>
    <ion-title>Parqueos Bolivia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size="12">
    <ion-list>
      <!-- <ion-item lines="full">
        <ion-label>Ciudad</ion-label>
        <ion-select [value]="currentCity" placeholder="Escoja una ciudad">
          <ion-select-option [value]="c" *ngFor="let c of lCitys"
            >{{c}}</ion-select-option
          >
        </ion-select>
      </ion-item> -->
      <ion-item lines="full">
        <ion-label>Zona</ion-label>
        <ion-input
          type="text"
          placeholder="Ingrese la zona"
          [(ngModel)]="txtZona"
        ></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-list *ngIf="txtZona.length > 3">
          <ion-item
            *ngFor="let u of ubicaciones | filtro: txtZona:'nombreParqueo'"
            (click)="centrarMapaParqueo(u)"
          >
            <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
            <ion-label>{{u.nombreParqueo}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-col>

  <div *ngIf="apiLoaded">
    <google-map
      height="500px"
      width="100%"
      [zoom]="currentZoom"
      [center]="center"
      [options]="options"
      (mapClick)="addMarker($event)"
    >
      <map-marker
        *ngFor="let marker of markersFromService"
        #markerElem="mapMarker"
        [position]="marker.position"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem)"
      ></map-marker>
      <map-directions-renderer
        *ngIf="(directionsResults$ | async) as directionsResults"
        [directions]="directionsResults"
      ></map-directions-renderer>
    </google-map>
  </div>

  <!-- <ion-button (click)="zoomIn()" expand="block" fill="clear" shape="round">
    Zoom in
  </ion-button>
  <ion-button (click)="zoomOut()" expand="block" fill="clear" shape="round">
    Zoom out
  </ion-button> -->
</ion-content>
