<ion-header>
  <ion-toolbar>
    <ion-title>Parqueos Bolivia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="apiLoaded">
    <google-map
      height="500px"
      width="100%"
      [zoom]="currentZoom"
      [center]="center"
      [options]="options"
      (mapClick)="addMarker($event)"
    >
      <map-marker
        *ngFor="let marker of markersFromService"
        #markerElem="mapMarker"
        [position]="marker.position"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem)"
      ></map-marker>
      <map-directions-renderer
        *ngIf="(directionsResults$ | async) as directionsResults"
        [directions]="directionsResults"
      ></map-directions-renderer>
    </google-map>
  </div>

  <!-- <ion-button (click)="zoomIn()" expand="block" fill="clear" shape="round">
    Zoom in
  </ion-button>
  <ion-button (click)="zoomOut()" expand="block" fill="clear" shape="round">
    Zoom out
  </ion-button> -->
</ion-content>
