<app-custom-header title="Reportes - Tableros"></app-custom-header>

<ion-content [fullscreen]="true" >
  <ion-card *ngIf="!showTablero">
    <h3>Fecha Inicial</h3>
   

    <app-custom-calendar
    [label]='"Fecha de Inicio"'
    [id]='"fecIni"'
    (getValueEmmiter)="selectFechaIni($event)"
  ></app-custom-calendar>
  <app-custom-calendar
    [label]='"Fecha de Hasta"'
    [id]='"fecFin"'
    (getValueEmmiter)="selectFechaFin($event)"
  ></app-custom-calendar>

    <ion-button expand="full" type="submit" (click)="obtenerDatos()"  >
        Generar Tableros
    </ion-button>

  </ion-card>

  <ion-card *ngIf="showTablero">
    <div class=“ion-canvas”>
      <ion-card>
        <ion-card-content>
          <canvas #barCanvas style="position: relative; height:20vh; width:40vw">{{ barChart }}</canvas>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <canvas #doughnutCanvas style="position: relative; height:50; width:50">{{ chart }}</canvas>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <canvas #lineChartCanvas style="position: relative; height:20vh; width:40vw">{{ lineChart }} </canvas>
        </ion-card-content>
      </ion-card>
      <ion-button expand="full" (click)="volverFechas()"  >
        Volver
      </ion-button>


    </div>
  </ion-card>
  
</ion-content>
