.item-pedido {
  border-radius: 0in;
  border-style: solid;
  border-color: bisque;
}
.item-detalle-pedido {
  background-color: burlywood;
}
.content-detail {
  // border-radius: 0in;
  // border-style: solid;
  // border-color: blueviolet;

}
