<app-custom-header title="Apertura - Inventario"></app-custom-header>
<ion-content fullscreen>
  <ion-content>
    <ion-card *ngIf="showAperturaInvetario">
      <ion-card-header>
        <section>
          <ion-button expand="block" (click)="abrirInventario()" expand="full" type="submit">Inventario del Día</ion-button>
        </section>
      </ion-card-header>
    </ion-card>
    <ion-card *ngIf="showDetalleInvetario">
      <ion-card-content>
        <ion-list *ngIf="listaInventario">
          <div
            *ngFor="let cliente of listaPedidos | filtro:textoBusacar:'documento'"
            class="item-pedido"
          >
            <ion-item>
              <p>PRODUCTO: {{cliente.idProducto}}-</p>
              <ion-label>Prod: {{detalle.producto}} </ion-label>
                <ion-label>Cant: {{detalle.cantidad}} </ion-label>
                <ion-label>Precio: {{detalle.precio}} </ion-label>
            </ion-item>
           
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </ion-content>
</ion-content>