.img-tintoreria {
  width: 100%;
  background-color: beige;
  text-align: center;
}
.img-tintoreria img {
  max-width: 300px;
  max-height: 150px;
}
.img-prod{
  max-width: 300px;
  max-height: 150px;
}
