<app-custom-header title="Apertura de Caja"></app-custom-header>
<ion-content fullscreen>
      <ion-card >
        <ion-card-header>
          <ion-card-title>Detalle de últimas cajas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form>
            <ion-list>
              <ion-row *ngFor="let caja of ultimasCajas">
                <ion-col>
                  <ion-item>
                    <ion-label>
                      <h3>Fecha</h3>
                      <h2>{{caja.fechaCierre}}</h2>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>
                      <h3>Saldo Sistema</h3>
                      <h2>{{caja.saldoCierre}}</h2>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>
                      <h3>Monto Cierre</h3>
                      <h2>{{caja.saldoUsuario}}</h2>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>
                      <h3>Diferencia</h3>
                      <h2>{{caja.diferencia}}</h2>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>
                      <h3>Observacion</h3>
                      <h2>{{caja.observacion}}</h2>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </form>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="cajaActual">
        <ion-card-header>
          <ion-card-title>Datos para apertura de caja</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <form #formulario="ngForm">
            <app-custom-calendar
                [label]='"Fecha de Apertura:"'
                [id]='"fecApertura"'
                (getValueEmmiter)="selectFecha($event)"
            ></app-custom-calendar>
            
            <ion-item>
              <ion-label>
                <h3>ESTADO DE CAJA</h3>
                <h2>{{cajaActual.estadoCaja}}</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Saldo Inicial </ion-label>
              <ion-input type="number" name="saldoInicial" [(ngModel)]="cajaActual.saldoInicial" required="true"
                [readonly]="isReadOnly()">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Observacion </ion-label>
              <ion-input type="text" name="observacion" [(ngModel)]="cajaActual.observacion" required="false"
                [readonly]="isReadOnly()">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2>Saldo Cierre</h2>
                <h2>{{cajaActual.saldoUsuario}}</h2>
              </ion-label>
            </ion-item>

            <ion-button expand="full" type="submit" (click)="aperturaCaja()" [disabled]="!formulario.valid">
              Aperturar Caja
            </ion-button>

          </form>
        </ion-card-content>
      </ion-card>
</ion-content>