<app-custom-header title="Registro de ventas"></app-custom-header>
<ion-content fullscreen>
  <ion-content>
    <ion-content *ngIf="showCardSearch">
      <ion-card style="height: 320px; overflow-y: scroll">
        <ion-card-header>
          <ion-card-subtitle>Buscar Producto</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-searchbar
            animated="true"
            (ionChange)="buscar($event)"
            placeholder="Producto"
          ></ion-searchbar>
          <ion-list>
            <ion-item
              *ngFor="let producto of productos | filtro:textoBusacar:'producto'"
            >
              <ion-avatar slot="start">
                <img [src]="producto.picProducto" />
              </ion-avatar>
              <ion-label>
                <h2>
                  {{producto.producto}} ({{producto.embase}}),
                  Marca:{{producto.marca}}, Precio: {{producto.precio}}
                </h2>
                <h2>Stock: {{producto.enStock}}</h2>
              </ion-label>
              <ion-button
                slot="end"
                (click)="registroVenta(producto)"
                [disabled]="producto.stock <= 0"
                >Vender</ion-button
              >
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Productos seleccionados</ion-card-subtitle>
          <ion-button
            (click)="registrarVentaTotal()"
            expand="block"
            fill="outline"
            shape="round"
            color="secondary"
            *ngIf="productosAvender.length > 0"
          >
            Terminar Venta
          </ion-button>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col
                size="12"
                size-lg="3"
                size-md="4"
                size-sm="6"
                size-xs="12"
                *ngFor="let producto of productosAvender"
              >
                <ion-item>
                  <ion-card>
                    <img
                      [src]="producto.picProducto"
                      class="img-prod"
                    />
                    <ion-card-header>
                      <ion-card-subtitle>{{producto.embase}}</ion-card-subtitle>
                      <ion-card-title>
                        <h3>{{producto.producto}}</h3>
                        Total: {{producto.precioTotal}}
                      </ion-card-title>
                      <h3 *ngIf="producto.embase === 'CAJA'">
                        {{producto.cantidadCaja}} Unidades
                      </h3>
                    </ion-card-header>
                    <ion-card-content>
                      <h3>Marca:{{producto.marca}}</h3>
                      <h3>Cantidad: {{producto.cantidadVendida}}</h3>
                      <ion-button (click)="quitarProducto(producto)" expand="block" fill="clear" color="danger">
                        Quitar
                      </ion-button>
                    </ion-card-content>
                  </ion-card></ion-item
                ></ion-col
              >
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card> </ion-content
    >>

    <ion-card *ngIf="!showCardSearch && selectedProducto">
      <ion-card-header>
        <ion-item>
          <ion-button slot="end" color="danger" (click)="cancelarVenta()">
            Cerrar
          </ion-button>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Datos de la venta</ion-label>
        <ion-label color="primary" class="producto-titulo">
          {{selectedProducto.producto}} | stock actual:
          {{selectedProducto.stock}}
        </ion-label>
        <form
          #formulario="ngForm"
          (ngSubmit)="registrarVenta(selectedProducto)"
        >
            <ion-list>
              <ion-list-header>
                <ion-label color="danger" *ngIf="!formulario.valid"
                  >Por favor complete la informacion</ion-label
                >
              </ion-list-header>
              <ion-item>
                <ion-label position="floating"> Cantidad </ion-label>
                <ion-input
                  type="number"
                  name="cantidad"
                  [(ngModel)]="selectedProducto.cantidadVendida"
                  required="true"
                  (ionBlur)="validarCantidadVenta()"
                ></ion-input>
              </ion-item>
              <ion-item *ngIf="selectedProducto.embase === 'CAJA'">
                <ion-label>
                  CAJA DE {{selectedProducto.cantidadCaja}} UNIDADES
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Precio de venta</ion-label>
                <ion-input
                  type="number"
                  name="precioUnitario"
                  [(ngModel)]="selectedProducto.precio"
                  required="true"
                ></ion-input>
              </ion-item>
              <ion-button
                expand="full"
                type="submit"
                [disabled]="!formulario.valid"
              >
                Registrar
              </ion-button>
            </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
